<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--GOOGLE FONT-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Inter:wght@400;500;700&family=Open+Sans&family=Roboto:wght@300;400;500;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="../static/css/style.css">

    <!--ICONS-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!--JS-->
    <script defer src="../static/js/script.js"></script>

    <!--FAVICON-->
    <link rel="shortcut icon" type="image/png" href="../static/img/logo_blue.png">

    <title>sysai &mdash; We build feature</title>
</head>
<body>
<!--HEADER-->
    <header class="header">
<!--        LOGO-->
        <div class="logo">
            <img class="logo-icon" src="../static/img/logo_blue.png" alt="SysAi logo">
            <p class="logo-text">SysAi</p>
        </div>
<!--        NAVBAR-->
        <nav class="main-nav">
            <ul class="main-nav-list">
                <li><a href="#" class="main-nav-link">About</a></li>
                <li><a href="#" class="main-nav-link">Projects</a></li>
                <li><a href="#" class="main-nav-link">Blog</a></li>
                <li><a href="#" class="main-nav-link">Sign up</a></li>
            </ul>
        </nav>
    </header>
<!--MAIN-->
    <main>
<!--       SECTION HERO-->
        <section class="section-hero">
            <div class="hero">
                <h1 class="heading-primary">Future is ours</h1>
                <p class="hero-description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, sequi, similique! Accusantium aliquam assumenda autem doloremque dolorum eligendi enim illo minima molestiae necessitatibus.x
                </p>
                <div class="hero-buttons">
<!--                    <a href="#" class="btn">Some button text</a>-->
                    <a href="#" class="btn">Join us</a>
                </div>
                <div class="hero-img">
                    <img class="hero-icon" src="../static/img/hero_img.png" alt="Robot image">
                </div>
            </div>
        </section>
<!--       SECTION ABOUT-->
        <section class="section-about">
            <div class="about-heading">
                <span class="subheading">About</span>
                <h2 class="heading-secondary">Our work schedule is vital to us</h2>
            </div>
            <div class="about-content">
<!--                STEP 1-->
                <div class="about-content__text-box">
                    <div class="about-content__text-box-number">
                        <p>01</p>
                        <h3 class="heading-tertiary">Planning is always first step</h3>
                    </div>
                    <p class="about-content__text-box-description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab ad aperiam cupiditate deserunt eligendi enim eum, facere iste iusto maiores.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, consequuntur hic illum impedit minus modi quidem voluptatem voluptatibus.
                </div>
                <div class="about-content__img-box">
                    <img src="../static/img/about_1.png" alt="Image about Ai">
                </div>
<!--                STEP 2-->
                <div class="about-content__img-box">
                    <img src="../static/img/about_2.png" alt="Image about Ai">
                </div>
                <div class="about-content__text-box">
                    <div class="about-content__text-box-number">
                        <p>02</p>
                        <h3 class="heading-tertiary">Implementation is often crucial</h3>
                    </div>
                    <p class="about-content__text-box-description">
                        Consectetur adipisicing elit. A ab ad aperiam cupiditate deserunt eligendi enim eum, facere iste iusto maiores.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos fuga illo, laboriosam molestias non porro quaerat quidem quis rerum saepe sit, voluptas voluptates? Aliquid exercitationem rerum sed unde veniam. Nobis!
                    </p>
                </div>
<!--                STEP 3-->
                <div class="about-content__text-box">
                    <div class="about-content__text-box-number">
                        <p>03</p>
                        <h3 class="heading-tertiary">Testing is our every day job</h3>
                    </div>
                    <p class="about-content__text-box-description">
                        Elit. A ab ad aperiam cupiditate deserunt eligendi enim eum, facere iste iusto maiores.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum cupiditate doloremque ex in itaque, labore maiores nihil nulla odit, officia optio porro qui saepe sed sunt? Doloremque iusto quia sequi!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, at consequatur culpa cumque eius esse ex excepturi facere hic in labore libero, mi
                    </p>
                </div>
                <div class="about-content__img-box">
                    <img src="../static/img/about_3.png" alt="Image about Ai">
                </div>
            </div>
        </section>
    </main>
<!--    FOOTER-->
    <footer class="footer">
<!--        FOOTER_HEADING-->
        <div class="footer-heading">
<!--            LOGO-->
            <a href="#" class="footer-heading__logo"><img class="logo-icon" src="../static/img/logo_blue.png" alt="Sys ai Blue logo"></a>
            <p class="footer-heading__text">SysAi</p>
        </div>
<!--        FOOTER_CONTENT-->
        <div class="footer-container">
<!--            ADDRESS-->
            <div class="container__logo-address">
                <p class="footer__heading">Contacts us</p>
                <address class="logo-address-contacts">
                    <p class="">221B Baker Street, London</p>
                    <p><a href="tel:135-711-1317">135-711-1317</a></p>
                    <p><a href="mailto:sherholmes@mailme.org">sherholmes@mailme.org</a></p>
                </address>
            </div>
<!--            REQUIREMENTS-->
            <div class="footer-container__logo-col">
<!--            HEADING-->
                <p class="footer__heading">Required</p>
<!--            SOCIAL LINKS-->
                <ul class="footer-container__logo-col__social-links">
                    <li><a href="#">
                        <ion-icon class="social-links__icon" name="logo-tux"></ion-icon>
                    </a></li>
                    <li><a href="#">
                        <ion-icon class="social-links__icon" name="logo-github"></ion-icon>
                    </a></li>
                    <li><a href="#">
                        <ion-icon class="social-links__icon" name="logo-docker"></ion-icon>
                    </a></li>
                    <li><a href="#">
                        <ion-icon class="social-links__icon" name="logo-firefox"></ion-icon>
                    </a></li>
                </ul>
            </div>
<!--            PROJECTS-->
            <nav class="container-col">
                <p class="footer__heading">Projects</p>
                <ul class="container-col__navigation">
                    <li><a href="#">Tensorflow</a></li>
                    <li><a href="#">Pytorch</a></li>
                    <li><a href="#">Theano</a></li>
                </ul>
            </nav>
<!--            COMPANY-->
            <nav class="container-col">
                <p class="footer__heading">Company</p>
                <ul class="container-col__navigation">
                    <li><a href="#">About SysAi</a></li>
                    <li><a href="#">Authors</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </nav>
<!--            ACCOUNT-->
            <nav class="container-col">
                <p class="footer__heading">Account</p>
                <ul class="container-col__navigation">
                    <li><a href="#">Create account</a></li>
                    <li><a href="#">Sign in</a></li>
                    <li><a href="#">Android App</a></li>
                </ul>
            </nav>
        </div>
<!--        FOOTER COPYRIGHT-->
        <p class="copyright">Copyright &copy; <span class="year">2027</span> by SysAi, Inc, All rights reserved.</p>
    </footer>
</body>
</html>