*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto Light", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  font-weight: 400;
  color: #f9f7f6; }

.heading-primary {
  font-size: 4.8rem; }

.heading-secondary {
  font-size: 3.2rem; }

.heading-tertiary {
  font-size: 2.4rem; }

/*******************************/
/*HEADER*/
/*******************************/
.header {
  font-size: 2.4rem;
  padding: 2.4rem 4.8rem;
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo {
  display: flex;
  align-items: center;
  gap: 1.2rem; }
  .logo-icon {
    height: 4.8rem; }
  .logo-text {
    font-size: 3.2rem;
    text-decoration: none;
    font-weight: 700;
    color: #131736; }

/*******************************/
/*NAVIGATION SECTION*/
/*******************************/
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center; }

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #131736;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all .2s; }

.main-nav-link:hover,
.main-nav-link:focus {
  color: #4F46E5; }

/*******************************/
/*HERO SECTION*/
/*******************************/
.section-hero {
  padding: 9.6rem;
  background-color: #4F46E5; }

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-row-gap: 0; }
  .hero-img {
    grid-row: 1 / span 3;
    grid-column: 2 / 3; }
  .hero-icon {
    width: 100%; }
  .hero-buttons {
    align-self: start;
    display: flex;
    gap: 2.4rem; }
  .hero-description {
    font-size: 1.6rem;
    line-height: 1.6;
    color: #b5c0f9; }

.heading-primary {
  align-self: end; }

.btn:link,
.btn:visited {
  border: none;
  text-decoration: none;
  background-color: #131736;
  padding: 1.2rem 2.4rem;
  border-radius: .8rem;
  color: #ddd;
  transition: all .2s; }

.btn:hover,
.btn:focus {
  background-color: #312E81; }

/*******************************/
/*SECTION ABOUT*/
/*******************************/
.section-about {
  padding: 9.6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center; }

.about-content {
  padding: 9.6rem;
  margin-top: 4.8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 9.6rem;
  align-items: center;
  justify-items: right; }
  .about-content__text-box {
    padding: 6.4rem; }
    .about-content__text-box-number {
      display: flex;
      flex-direction: column;
      gap: 1.8rem; }
      .about-content__text-box-number p {
        font-family: "Roboto", sans-serif;
        font-size: 6.4rem;
        font-weight: 700;
        color: #ddd; }
  .about-content__text-box-description {
    font-size: 1.2rem;
    color: #131736;
    margin-top: 2.4rem;
    line-height: 1.6; }
  .about-content__img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }
    .about-content__img-box img {
      width: 100%; }

.subheading {
  display: block;
  text-transform: uppercase;
  font-size: 2.4rem;
  color: #4F46E5;
  margin-bottom: 1.8rem;
  font-weight: 700; }

.heading-secondary,
.heading-tertiary {
  color: #131736; }

/*******************************/
/*FOOTER*/
/*******************************/
.footer {
  padding: 9.6rem 0 4.8rem 0;
  background-color: #131736;
  display: flex;
  flex-direction: column;
  gap: 8rem; }
  .footer-heading {
    align-self: center;
    display: flex;
    gap: .8rem;
    align-items: center; }
    .footer-heading__text {
      color: #fff;
      font-size: 3.2rem;
      font-weight: 700; }
  .footer-container {
    padding: 0 4.8rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2.4rem;
    justify-items: center; }
    .footer-container__logo-col {
      display: flex;
      flex-direction: column;
      gap: .8rem; }
      .footer-container__logo-col__social-links {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        gap: 1.8rem; }
        .footer-container__logo-col__social-links ion-icon {
          font-size: 3.2rem;
          fill: #eee;
          align-self: center;
          justify-self: center; }

.container-col__navigation {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.8rem; }

.copyright {
  font-size: 1.2rem;
  color: #ddd;
  align-self: center; }

.footer__heading {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 2.8rem; }

.logo-address-contacts {
  font-size: 1.6rem;
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 1.8rem; }

.footer a:link,
.footer a:visited {
  text-decoration: none;
  color: #eee;
  font-size: 1.6rem;
  transition: all 0.2s;
  text-emphasis-style: none; }

.footer a:hover,
.footer a:active {
  color: #888; }
